@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.book-cover img {
    width: auto;
    height: 50vh; /* 設置圖片高度至少為頁面高度的一半 */
    margin-right: 20px;
}

.book-details {
    text-align: left;
    max-width: 800px;
    padding: 20px;

    line-height: 2; /* 調整行高 */
}

.book-details h2 {
    margin-bottom: 20px;
    color: #444;
}

.book-details p {
    margin: 10px 0; /* 調整每行之間的距離 */
}

.book-details p strong {
    color: #444;
}